.menu-button {
  width: 100%;
  height: max-content;
  padding: 2vh 0;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  border: 0px;
  margin: 0.5% 0;
  /*Prepare background color transition on mouse hover*/
  background: linear-gradient(90deg, var(--text-color) 45%, transparent 5%)
      right,
    linear-gradient(90deg, var(--secondary-background) 45%, transparent 5%);
  background-size: 250%;
  transition: 0.5s ease-out;
  font-family: var(--font-impact);
  text-align: center;
}

.menu-button:hover {
  background-position: left; /*Executes background color transition */
  box-shadow: inset 0px 0px 0px var(--primary-element-lighter-contrast);

  color: var(--primary-element-lighter-contrast);
}

@media (width < 450px) {
  .menu-button {
    width: fit-content;
    font-size: 0.75rem;
    text-align: left;
    padding: 0 1rem 0 0;
    background: var(--secondary-background);
  }

  .menu-button:hover {
    background: var(--secondary-background);
  }
}

@media (450px <= width <= 580px) {
  .menu-button {
    width: fit-content;
    padding: 0 1.5vw;
    font-size: 3.2vw;
    background-size: 100%;
    background: var(--secondary-background);
    transition: unset;
    margin: 0;
    font-family: "Courier New", Courier, monospace;
  }
}

@media (580px < width < 768px) {
  /* 768px is the tailwind breakpoint that changes the position of the side menu*/
  .menu-button {
    margin: 0;
    padding: 0;
    background: var(--secondary-background);
    transition: unset;
    font-size: 1rem;
    font-weight: 200;
    background-size: 100%;
  }
}
