.paragraph {
  text-align: justify;
  font-size: 1.25rem;
  margin: 1rem 0;
}

.shadow-box-primary {
  box-shadow: 0px 3px 8px 1px var(--primary-element);
}

.shadow-black-85 {
  box-shadow: 0px 0px 18px 1px #00000085;
}

.hover\:shadow-box-primary-contrast:hover {
  box-shadow: 0px 3px 8px 1px var(--primary-element-contrast);
}

.hover\:shadow-box-primary-contrast-xl:hover {
  box-shadow: 0 0 5px var(--primary-element-contrast),
    0 0 20px var(--primary-element-contrast),
    0 0 40px var(--primary-element-contrast),
    0 0 60px var(--primary-element-contrast);
}

/* Transform element box shadow on sibling/child hover*/
.shadow-contrast-on-hover-child:has(
    > div > section > div > .hover\:bg-primary-contrast:hover
  ),
.shadow-contrast-on-hover-child:has(> div > .hover\:bg-primary-contrast:hover),
.shadow-contrast-on-hover-child:has(
    > div > div > .hover\:bg-primary-contrast:hover
  ),
.shadow-contrast-on-hover-child:has(
    > div > div > button > .hover\:bg-primary-contrast:hover
  ) {
  box-shadow: 0px 3px 8px 1px var(--primary-element-lighter-contrast);
}
/* Transform element text color on sibling/child hover*/
button:has(> img.hover\:bg-primary-contrast):hover
  + .text-contrast-on-sibling-hover,
.text-contrast-on-sibling-hover:has(~ button:hover) {
  color: var(--primary-element-contrast);
}

.img-shadow {
  filter: drop-shadow(0 0 5px var(--dark-secondary-background));
}

.rotate-y-animation {
  animation: rotate-y-animation 1s;
}

@keyframes rotate-y-animation {
  0% {
    transform: rotatey(0deg);
  }
  50% {
    transform: rotatey(90deg);
  }
  100% {
    transform: rotatey(0deg);
  }
}
