.paragraph {
  text-align: justify;
  font-size: 1.25rem;
  margin: 1rem 0;
}

.shadow-box-primary {
  box-shadow: 0px 3px 8px 1px var(--primary-element);
}

.hover\:shadow-box-primary-contrast:hover {
  box-shadow: 0px 3px 8px 1px var(--primary-element-contrast);
}

.shadow-contrast-on-hover-child:has(
    > div > section > div > .hover\:bg-primary-contrast:hover
  ),
.shadow-contrast-on-hover-child:has(> div > .hover\:bg-primary-contrast:hover) {
  box-shadow: 0px 3px 8px 1px var(--primary-element-contrast);
}
