@import url("./styles/components/layout/menu-button.css");
@import url("./styles/components/basic-components/logo.css");
@import url("./styles/_utils.css");
/* @import url("http://fonts.cdnfonts.com/css/chalk"); Chalk font" */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap"); /*Impact font*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #262625;
  --text-color: #f2f2f2;
  --primary-element: #4fe1c4;
  --primary-element-dark: #08a888;
  --primary-element-contrast: #ed944d;
  /* --font-chalk: "Chalk", sans-serif; */
  --font-impact: "Impact", "Raleway", sans-serif;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* ---- SCROLLBAR ---- */
::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-element);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-element-contrast);
}
/* ------------------------ */

/* ---- TEXT SELECTION ---- */
::selection {
  color: var(--bg-color);
  background: var(--primary-element);
}
::-moz-selection {
  /*firefox*/
  color: var(--bg-color);
  background: var(--primary-element);
}
/* -------------------------- */

/* ---- SCROLL ANIMATION ---- */
.hidde-animation {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}
.hidden-animation-left {
  transform: translateX(-100%);
  transition: transform 1s;
}
.hidden-animation-right {
  transform: translateX(100%);
  transition: transform 1s;
}
.show-animation {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
/* -------------------------- */
