@import url("./styles/components/layout/menu-button.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #262625;
  --text-color: #f2f2f2;
  --primary-element: #4fe1c4;
  --primary-element-dark: #08a888;
  --primary-element-contrast: #ed944d;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
