@import url("./styles/components/layout/menu-button.css");
@import url("./styles/components/basic-components/logo.css");
@import url("./styles/_utils.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap"); /*Impact font*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-impact: "Impact", "Raleway", sans-serif;

  --light-primary-background: #ffffff;
  --dark-primary-background: #262625;

  --light-secondary-background: #f3f3f3;
  --dark-secondary-background: #000000;

  --light-primary-element: #fc923e;
  --dark-primary-element: #4fe1c4;

  --light-primary-element-dark: #f58e19;
  --dark-primary-element-dark: #08a888;

  --light-primary-element-contrast: #3378b8;
  --dark-primary-element-contrast: #ed944d;

  --light-primary-element-lighter-contrast: #3399b8;
  --dark-primary-element-lighter-contrast: var(
    --dark-primary-element-contrast
  ); /*No change for dark mode, keep --dark-primary-element-contrast */

  --light-text-color: #3d2929;
  --dark-text-color: #f2f2f2;
}

body {
  --primary-background: var(--light-primary-background);
  --secondary-background: var(--light-secondary-background);
  --primary-element: var(--light-primary-element);
  --primary-element-contrast: var(--light-primary-element-contrast);
  --primary-element-dark: var(--light-primary-element-dark);
  --primary-element-lighter-contrast: var(
    --light-primary-element-lighter-contrast
  );
  --text-color: var(--light-text-color);
}

body.dark {
  --primary-background: var(--dark-primary-background);
  --secondary-background: var(--dark-secondary-background);
  --primary-element: var(--dark-primary-element);
  --primary-element-contrast: var(--dark-primary-element-contrast);
  --primary-element-dark: var(--dark-primary-element-dark);
  --primary-element-lighter-contrast: var(
    --dark-primary-element-lighter-contrast
  );
  --text-color: var(--dark-text-color);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--primary-background);
  color: var(--text-color);
}

/* ---- SCROLLBAR ---- */
::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-element);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-element-lighter-contrast);
}
/* ------------------------ */

/* ---- TEXT SELECTION ---- */
::selection {
  color: var(--primary-background);
  background: var(--primary-element);
}
::-moz-selection {
  /*firefox*/
  color: var(--primary-background);
  background: var(--primary-element);
}
/* -------------------------- */

/* ---- SCROLL ANIMATION ---- */
.hidde-animation {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}
.hidden-animation-left {
  transform: translateX(-100%);
  transition: transform 1s;
}
.hidden-animation-right {
  transform: translateX(100%);
  transition: transform 1s;
}
.show-animation {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
/* -------------------------- */
